
@{
ViewBag.Title = "StartUpMate";
Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="container bgImage" style="margin-top:20px;padding-bottom:50px" id="firstpage">
    </div>*@

    @*<form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search your mate">
            </div>
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>*@
@*<div style="background-image:url()"></div>*@
@*<div class="container bgImage" style="margin-top:20px;padding-bottom:50px" id="firstpage"></div>*@

@*<section id="programe" class="noIE bgcolor">
    
</section>*@
<script src="~/Scripts/StartupmateScripts/SearchAtFrontPage.js" type="text/javascript"></script>
@*<div class="row"> 
    <div class="sp">
        <select id="professionLst" multiple="multiple">
            <option value="cheese">Cheese</option>
            <option value="tomatoes">Tomatoes</option>
            <option value="mozarella">Mozzarella</option>
            <option value="mushrooms">Mushrooms</option>
            <option value="pepperoni">Pepperoni</option>
            <option value="onions">Onions</option>
        </select>
    </div>
</div>*@

<h1>wdd</h1>
<h1>wdd</h1>
<h1>wdd</h1>
<h1>wdd</h1>
<h1>wdd</h1>
<h1>wdd</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <select id="professionLst1" multiple="multiple">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
            </select>
         </div>
        <div class="col-xs-4">
            <select id="professionLst2" multiple="multiple">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
            </select>        </div>
        <div class="col-xs-4">
            <select id="professionLst3" multiple="multiple">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="mozarella">Mozzarella</option>
                <option value="mushrooms">Mushrooms</option>
                <option value="pepperoni">Pepperoni</option>
                <option value="onions">Onions</option>
            </select>
        </div>
    </div>
    </div>

